<div class="app-container">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <h1 fxHide.xs fxHide.sm fxHide.md fxShow.gt-md class="mat-display-4 mat-error">Error 4<span>&#9785;</span>3</h1>
      <h1 fxShow.xs fxShow.sm fxShow.md fxHide.gt-md class="mat-display-3 mat-error">Error 4<span>&#9785;</span>3</h1>
      <div class="mat-body-1">
        <p>Sorry, but you are not authorized to view this page.</p>
        <p>It looks like this was the result of either:</p>
        <ul>
          <li>a mistyped address</li>
          <li>an out-of-date link</li>
        </ul>
        <div class="md-actions" layout="row" layout-align="end center">
          <a href="/" class="md-button md-primary md-raised white-text">Back to home</a>
        </div>
      </div>
    </div>
  </div>
  