<div class="app-container">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <mat-card fxFlex.xs="90" fxFlex.sm="50" fxFlex.md="40" fxFlex.lg="30" fxFlex.xl="20">
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <mat-vertical-stepper linear>
          <mat-step [stepControl]="nameForm" label="{{name || 'Name'}}">
            <form novalidate [formGroup]="nameForm" (ngSubmit)="setName()" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="column" fxLayoutGap="20px" *ngFor="let question of questions.name">
                <df-question [question]="question" [form]="nameForm"></df-question>
              </div>
              
              <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button matStepperNext type="submit" color="primary">Next</button>
              </div>
              <mat-spinner *ngIf="busy"></mat-spinner>
            </form>
          </mat-step>
          <mat-step [stepControl]="emailForm" label="{{email || 'Email'}}">
            <form novalidate [formGroup]="emailForm" (ngSubmit)="setEmail()" fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="column" fxLayoutGap="20px" *ngFor="let question of questions.email">
                <df-question [question]="question" [form]="emailForm"></df-question>
              </div>
              
              <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button matStepperNext *ngIf="verified && !hasDuplicate" type="submit" color="primary">Next</button>
              </div>
              <mat-spinner *ngIf="busy"></mat-spinner>
            </form>
          </mat-step>
          <mat-step [stepControl]="passwordForm" label="Set your password" *ngIf="verified && !hasDuplicate">
            <app-confirmed-password-form></app-confirmed-password-form>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>