<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">

    <app-textbox-question *ngSwitchCase="'text'" fxFlex [question]="question" [form]="form"></app-textbox-question>
    <app-password-question *ngSwitchCase="'password'" fxFlex [question]="question" [form]="form"></app-password-question>
    <app-dropdown-question *ngSwitchCase="'dropdown'" fxFlex [question]="question" [form]="form"></app-dropdown-question>
    <app-radio-group-question *ngSwitchCase="'radio-group'" fxFlex [question]="question" [form]="form"></app-radio-group-question>
    <app-slide-toggle-question *ngSwitchCase="'slide-toggle'" fxFlex [question]="question" [form]="form"></app-slide-toggle-question>

  </div>
</div>