<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">

    <app-textbox-question *ngSwitchCase="'text'" fxFlex [question]="question" [form]="form"></app-textbox-question>
    <app-password-question *ngSwitchCase="'password'" fxFlex [question]="question" [form]="form"></app-password-question>
    <app-dropdown-question *ngSwitchCase="'dropdown'" fxFlex [question]="question" [form]="form"></app-dropdown-question>
    <app-radio-group-question *ngSwitchCase="'radio-group'" fxFlex [question]="question" [form]="form"></app-radio-group-question>
    <app-slide-toggle-question *ngSwitchCase="'slide-toggle'" fxFlex [question]="question" [form]="form"></app-slide-toggle-question>
    <app-checkbox-question *ngSwitchCase="'checkbox'" fxFlex [question]="question" [form]="form"></app-checkbox-question>
    <app-auto-complete-question *ngSwitchCase="'auto-complete'" fxFlex [question]="question" [form]="form"></app-auto-complete-question>
    <app-datepicker-question *ngSwitchCase="'datepicker'" fxFlex [question]="question" [form]="form"></app-datepicker-question>
    <app-ticker-question *ngSwitchCase="'ticker'" fxFlex [question]="question" [form]="form"></app-ticker-question>
    <app-array-question *ngSwitchCase="'form-array'" fxFlex [formArray]="question" [form]="form"></app-array-question>

  </div>
</div>