<div [formGroup]="form">
  <mat-form-field fxFlex>
    <!-- Input -->
    <input matInput placeholder="{{question.label}}" [type]="hidden ? 'password' : 'text'" [formControlName]="question.key" [required]="question.required">
    <!-- Suffix Icon -->
    <mat-icon matSuffix class="material-icon clickable" (click)="hidden = !hidden">{{ hidden ? 'visibility' : 'visibility_off' }}</mat-icon>
    <!-- Hints -->
    <mat-hint align="start" *ngIf="question.hintStart">{{ question.hintStart }}</mat-hint>
    <mat-hint align="end" *ngIf="question.hintEnd">{{ question.hintEnd }}</mat-hint>
    <!-- Error -->
    <mat-error>{{question.error}}</mat-error>
  </mat-form-field>
</div>
<app-input-error [message]="question.customError" *ngIf="question.showCustomError"></app-input-error>