<div class="app-container">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <mat-card fxFlex.xs="90" fxFlex.sm="50" fxFlex.md="40" fxFlex.lg="30" fxFlex.xl="20">
      <mat-card-title>Reset Password</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <form novalidate [formGroup]="emailForm" fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="column" fxLayoutGap="20px" *ngFor="let question of questions">
            <df-question [question]="question" [form]="emailForm"></df-question>
          </div>
        </form>
        <app-confirmed-password-form></app-confirmed-password-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>