<form novalidate [formGroup]="confirmedPasswordForm.form" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutGap="20px" *ngFor="let question of questions">
    <df-question [question]="question" [form]="confirmedPasswordForm.form"></df-question>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button type="submit" color="primary">{{confirmedPasswordForm.buttonLabel}}</button>
  </div>
  <mat-spinner></mat-spinner>
</form>