<div [formGroup]="form">
  <mat-form-field fxFlex>
    <!-- Prefix -->
    <span matPrefix *ngIf="question.prefix">{{ question.prefix }}</span>
    <!-- Select -->
    <mat-select [placeholder]="question.label" [required]="question.required">
      <mat-option *ngFor="let option of question.options" [value]="option">
        <ng-container *ngIf="question.optionLabel; else elseTemplate">
          {{ option[question.optionLabel] }}
        </ng-container>
        <ng-template #elseTemplate>
          {{ option }}
        </ng-template>
      </mat-option>
    </mat-select>
    <!-- Suffix -->
    <span matSuffix *ngIf="question.suffix">{{ question.suffix }}</span>
    <!-- Suffix Icon -->
    <mat-icon matSuffix class="material-icon" *ngIf="question.suffixIcon">{{ question.suffixIcon }}</mat-icon>
    <!-- Hints -->
    <mat-hint align="start" *ngIf="question.hintStart">{{ question.hintStart }}</mat-hint>
    <mat-hint align="end" *ngIf="question.hintEnd">{{ question.hintEnd }}</mat-hint>
    <!-- Error -->
    <mat-error>{{question.errorMessage}}</mat-error>
  </mat-form-field>
</div>
<app-input-error [message]="question.customError" *ngIf="question.showCustomError"></app-input-error>