<div class="app-container">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <mat-card fxFlex.xs="90" fxFlex.sm="50" fxFlex.md="40" fxFlex.lg="30" fxFlex.xl="20">
      <mat-card-title>Reset Password</mat-card-title>
      <mat-card-content>
        <form novalidate [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
          <div fxLayout="column" fxLayoutGap="20px" *ngFor="let question of questions">
            <df-question [question]="question" [form]="form"></df-question>
          </div>
          <app-input-error *ngIf="error" [message]="error"></app-input-error>
          <div fxLayout="row" fxLayoutAlign="end center">
            <ng-container *ngIf="busy; else elseTemplate">
              <mat-spinner></mat-spinner>
            </ng-container>
            <ng-template #elseTemplate>
              <button mat-button type="submit" color="primary">Send Password Reset Link</button>
            </ng-template>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>